/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 768px) {
  .flex-row {
      flex-direction: column;
  }
  .w-1\/2 { /* Assuming you're using a utility-first CSS framework like Tailwind CSS */
      width: 100%;
  }
}

@keyframes rotateCubeToLeft {
  from {
    transform: perspective(1500px) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
  to {
    transform: perspective(1500px) rotate3d(0, 1, 0, 90deg) translateZ(50vw);
  }
}

@keyframes rotateCubeToRight {
  from {
    transform: perspective(1500px) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
  to {
    transform: perspective(1500px) rotate3d(0, 1, 0, -90deg) translateZ(50vw);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.section-container {
  position: relative;
  overflow: hidden;
}

.section {
  position: absolute;
  border: 1px solid black;
  backface-visibility: hidden;
}

.section.rotate-cube-r {
  animation: rotateCubeToRight 1.4s forwards;
}

.section.rotate-cube-l {
  animation: rotateCubeToLeft 1.4s forwards;
}

.section.appear-cube-face-r {
  animation: slideFromRight 1s forwards;
}

.section.appear-cube-face-l {
  animation: slideFromLeft 1s forwards;
}

.navbar {
  background-color: #1a5276; /* dark blue */
  color: white;
}

.about-page {
  background: linear-gradient(to top left, #b3cde0, #f0f7fd, #ffc3a0);
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}